.signin {
  margin-top: 120px;
  padding: 100px 0 150px;
  background: url(../images/signin_bg.jpg) no-repeat center/cover fixed;
}

.signin h1 {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 24px;
}
.signin strong{
  color: #006633;
}
.signin_card {
  width: 570px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, .3);
  color: #555;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  font-weight: 700;
}

.signin_card h2 {
  padding: 30px;
  font-size: 18px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.signin_card form {
  padding: 30px 22px;
}

.signin_card form input {
  width: 100%;
  margin-bottom: 12px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  outline: none;
  box-sizing: border-box;
  font-size: 14x;
}

.signin_card form [type="submit"] {
  background-color: #006633;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  border: none;
}

.signin_card form p {
  font-size: 14px;
  color: #006633;
  text-align: left;
}

.signin_card .actions {
  display: flex;
  padding: 20px;
}

.signin_card .actions a {
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;
  color: #555;
  font-size: 14px;
  border-right: 1px solid #ddd;
}
.signin_card .actions a:last-child {
  border-right: none;
}
.signin_card .actions a:hover {
  text-decoration: underline;
}
